.scrollable-feed {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scrollable-feed::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
